.bxs-sun {
  display: none;
}

#on {
  display: none;
}

.mobile-main {
  display: none;

  @media (max-width: 1000px) {
    display: flex;
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mobile-nav .mobile-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 30px;
}

.mobile-nav .mobile-nav-header .logo img {
  width: 100px;
}

.dark .mobile-nav .mobile-nav-header button {
  color: #ffffff;
}

.mobile-nav .mobile-nav-header button {
  background-color: transparent;
  border: none;
  font-size: 40px;
}

.mobile-main .mobile-sections {
  z-index: 1000;
}

.mobile-nav.active #menu {
  display: none;
}
.mobile-sections {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0;
  gap: 20px;
  transition: 0.6s;
  width: 100vw;
  visibility: hidden;
  overflow: hidden;
  background-color: #ffffff;
  font-family: "Poppins";
  font-size: 24px;
}
.dark .mobile-sections {
  background-color: #000000;
  font-family: "Poppins";
  font-size: 24px;
  color: #ffffff;
}

.mobile-sections .theme {
  position: absolute;
  top: 0;
  right: 20px;
}

.mobile-sections .theme .bxs-moon {
  font-size: 30px;
  padding: 5px;
  background-color: var(--button-background);
  border: #000000 solid 1px;
  border-radius: 50%;
  cursor: pointer;
}

.dark .mobile-sections .theme .bxs-sun {
  font-size: 30px;
  padding: 5px;
  background-color: var(--dark-background);
  border: var(--border-background) solid 1px;
  border-radius: 50%;
  cursor: pointer;
}

.mobile-sections ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.mobile-sections .singin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mobile-sections .singin .user {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 10px;
}

.bxs-user-circle {
  font-size: 50px;
}

.mobile-sections.active {
  height: calc(100vh - 200px);
  visibility: visible;
  transition: 0.6s;
}

.icon {
  display: none;
}

.icon.active {
  display: block;
}
