.main-slide {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  gap: 1rem;
  padding: 0 10px;
}

.main-slide .slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.main-slide .slider .slide {
  position: absolute;
  opacity: 0;
  display: flex;
  justify-content: space-around;
}

.main-slide .slider .on {
  opacity: 1;
  animation: slidy 2s;
}

.main-slide #btn-next {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  border: none;
  background-color: transparent;
  font-size: 60px;
  cursor: pointer;
}

.main-slide #btn-next .bx-chevrons-right:hover {
  border-radius: 100%;
  background-color: #00ff94;
  color: #ffffff;
}

.main-slide #btn-next:hover > .bx-chevrons-right {
  animation: hoverBtn 1000ms;
}

@keyframes hoverBtn {
  from {
    transform: translateX(5px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes hoverBtnPrev {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(0);
  }
}

.main-slide #btn-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  border: none;
  background-color: transparent;
  font-size: 60px;
  cursor: pointer;
}

.main-slide #btn-prev:hover > .bx-chevrons-left {
  animation: hoverBtn 1000ms;
}

.main-slide #btn-prev .bx-chevrons-left:hover {
  border-radius: 100%;
  background-color: #00ff94;
  color: #ffffff;
}

@keyframes card-slide {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    transform: translateX(0px);
  }
}

.main-slide .slider .slide .card-left-content {
  word-break: break-all;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: 25%;
  animation: card-slide 4s;

  @media (max-width: 1000px) {
    width: 90%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .main-slide .slider .slide .card-right-content {
    display: none;
  }
}

.main-slide .slider .slide .card-left-content .title {
  color: #0d8ce9;
}

.main-slide .slider .slide .card-left-content .slide-1 {
  width: 263.89px;
}

.main-slide .slider .slide .card-left-content .slide-2 {
  width: 400px;
}

.main-slide .slider .slide .card-left-content .more {
  border: none;
  background-color: #00ff94;
  width: 222px;
  height: 75px;
  border-radius: 25px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.main-slide .slider .slide .card-left-content .more:active {
  background-color: rgba(0, 0, 0, 0.5);
}
